Django>=6.0.4
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
drf-spectacular==0.29.0
django-environ==0.13.0
django-cors-headers==4.9.0
djoser==2.3.3
django-filter==25.2
django-silk==5.5.0
gunicorn==25.3.0
psycopg[binary]
cryptography>=47.0.0
